#header{
    background: #243447 !important;
}
body{
    background: #141d26 !important;
}
.boards-page-board-section-header-name,.board-tile-details-name{
    color:#b7b1b1 !important;
}
.compact-board-tile-link-thumbnail,.board-tile{
    background:rgb(36, 52, 71) !important;
}